
/* colores y medidas cuadrados */
body{
    padding: 20px;
}
.cuadradoLados{
    width: 210px; 
    height: 210px;
    background-color: #F60000;
    
}
.cuadradoCentro{
    width: 440px;
    height: 440px;
    background-color: #F60000;

}

/* posicion cuadrados */
header{
    display: flex;
    justify-content: center;  
    align-self: flex-start;
  

}

.cajaLados{
    width: 210px;
    
    
}
/* texto alineacion drcha */
.derecha{
    text-align: right;
}

/* main */
main{
    width: 900px;
    
   
}
p{
    text-align: justify;
}
.main_cajaCirculos{
    display: flex;
    justify-content: center;
  
}
/* línea */
.main_linea{
    height: 15px;
    background-color: #F60000;
}

/* colores y dimensiones circulos */
.main_circulo_externo, .main_circulo_interno{
    height: 210px;
    width: 210px;
    background-color: #F60000;
    border-radius: 50%;
    margin: 10px;
}
.main_circulo_interno{
    background-color: #620000;
}

.cajaGeneral{
    width: 900px;
   
}